# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\esp\Espressif\frameworks\esp-idf-v4.3.5\examples\peripherals\uart\uart_async_rxtxtasks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
